<!-- Jumbotron -->
<div class="jumbotron">
    <p class="muted">The easy way to book airport transfers / seaport transfers / golf transfers - since 2006</p>
    <h2 class="text-info">I'm looking for</h2>
    <form class="form-search">
     <div class="input-append">
    <input type="text" class="span2 search-query" placeholder="Pick up Point" style="width: 250px;">
    <button type="submit" class="btn btn-success">Search</button>
  </div>
        </form>
   <br />


</div>
<hr>

<!-- Example row of columns -->

<div class="row-fluid marketing">
    <div class="span4" style="text-align: center;">

        <img src="~/Images/Cars/taxi_blanco.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Up to 4 passengers</p>

        <img src="~/Images/Cars/Mercedes_clase_S.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Premium up to 3 passengers</p>



    </div>

    <div class="span4" style="text-align: center;">
        <img src="~/Images/Cars/Renaul_rafic_8_pax.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Up to 8 passengers</p>


        <img src="~/Images/Cars/MB_16_pax.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Up to 16 passengers</p>


    </div>
    <div class="span4" style="text-align: center;">
        <img src="~/Images/Cars/Bus_PB_55_pax.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Up to 55 passengers</p>

        <img src="~/Images/Cars/Bus_2_pisos_Neoplan.jpg" class="img-rounded" style="width: 140px; height: 90px" />
        <p class="text-success">Up to 85 passengers</p>
    </div>



    <p class="muted" style="text-align: justify;"><small>We provide reliable, very low-cost airport/seaport private transfers to hotels, villas, apartments, marinas and private residences with a modern fleet of fully licensed and insured taxis, minivans, minibuses and coaches. We will take you from the airport/seaport to your destination and back in comfort and safety, at a low low price and with great customer service.</small></p>
    <p class="muted"><small>BOOK TODAY  confirmation emailed instantly</small></p>
    <p class="muted text-info"><small>If you book a transfer with us and then find another transfer company more cheaper than ours with the same quality and care we promise to refund double the difference.</small></p>


</div>
